*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;

}

.imgg{
    width:45% ;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 350px;
   
}

.imgg .shape{
    width: 450px;
    height: 450px;
    bottom:-10px;
    z-index: 2;
    

}



.imgg img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
    
}

.imgg .first{
    width: 450px;
    height: 900px;
    bottom:-145px;
    z-index: 4;
    
    
}

.imgg:hover .shape{
    bottom: 40px;
    z-index: 1;
    
    
}

.imgg:hover .first{
    left: 45%;
    z-index: 3;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 20%;
    z-index: 6;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter:blur(10px);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
    
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo span{
    color: aqua;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    z-index: 8;
    margin-left: 37px;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 10;
    
    
}

nav ul li a:hover{
    color: aqua;
    transition: .4s;
    
}




.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

h4{
    color: rgb(166, 253, 248);
    letter-spacing: 2px;
    font-size: 20px;
}

span{
    color: aqua;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(25, 25, 25);
}
.about img{
    height: auto;
    width: 430px;
}

.abouttext{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.abouttext h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.abouttext h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 25px;
}

.abouttext p{
    color: rgb(166, 253, 248);
}

button{
    background-color: aqua;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px;
    
}

.download-btn{
    background-color: aqua;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px;
    display: flex;
    padding-left: 50px;
    margin-left: 160px;
    margin-right: 130px;
   
}

.download-btn:hover{
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}


button:hover{
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}

.projet{
    background-color: black;
    width: 100%;
    padding: 100px 0px;

}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 385px;
    width: 385px;
    padding: 20px 35px;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: aqua;

}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: rgb(166, 253, 248);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: aqua;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover{
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}

.contact{
    width: 100%;
    height: 1200px;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .button-two{
    background-color: aqua;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.contact .button-two:hover{
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: aqua;
    bottom: 35px;
    font-size: 14px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title::before{
    width: 35px;
}

.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.skill-title a{
    text-decoration: none;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: aqua;
    transition: .5s;
}


.skill-icon{
    width: 50px;
    z-index: 2;
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skill-title h3{
    color: #fff;
    margin: 0.5rem;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

@media screen and (max-width: 990px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px){
    .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }
}